@charset "UTF-8";
/*id er "#"
class er "."
padding/margin rekkefølge: top right bottom left*/
* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  background-color: yellow;
  height: 40px;
  line-height: 40px;
  width: 100%;
  padding: 0;
  margin: 0;
}

.header-grid {
  display: grid;
  grid-template-columns: 230px 20px 30% 210px 20px 30% 210px 20px;
  grid-template-rows: 40px;
  grid-template-areas: "left truck . center clock . right cart";
  width: 3000px;
}
.header-grid #center {
  display: flex;
  justify-content: center;
  grid-area: center;
  padding-bottom: 18px;
  padding-top: 0;
  padding-left: 0.1rem;
  padding-right: 0;
  margin: 0;
}
.header-grid .fa-clock {
  display: flex;
  justify-content: center;
  grid-area: clock;
  font-size: 24px;
  margin: 0;
  padding: 0.5rem 0 0.5rem 0.2rem;
}
.header-grid #right {
  grid-area: right;
  padding-bottom: 18px;
  padding-top: 0;
  padding-left: 1rem;
  margin: 0;
}
.header-grid .fa-cart-shopping {
  display: flex;
  justify-content: right;
  grid-area: cart;
  font-size: 24px;
  margin: 0;
  padding: 0.5rem 0.3rem 0.5rem 0.2rem;
}
.header-grid #left {
  display: flex;
  justify-content: left;
  grid-area: left;
  padding-bottom: 18px;
  padding-top: 0;
  padding-left: 1rem;
  margin: 0;
}
.header-grid .fa-truck {
  display: flex;
  justify-content: left;
  grid-area: truck;
  font-size: 24px;
  margin: 0;
  padding: 0.5rem 0 0.5rem 0.2rem;
}
@media (max-width: 768px) {
  .header-grid {
    grid-template-columns: 170px 20px auto 170px 10px;
    grid-template-areas: "center clock . right cart";
  }
  .header-grid #left, .header-grid .fa-truck {
    display: none;
  }
  .header-grid #right, .header-grid #center {
    font-size: 13px;
  }
}

.nav-grid {
  display: grid;
  grid-template-columns: 50% 1fr 80px 80px;
  grid-template-rows: 40px 20px;
  grid-template-areas: "logo . menneske magnum" ".  . login sok";
}
.nav-grid .hovedlogo {
  grid-area: logo;
  display: inline-block;
  justify-content: left;
  margin: 1.2rem 0 1rem 0.5rem;
  padding: 0;
  font-weight: 700;
  text-decoration: none;
  color: black;
  font-style: italic;
}
@media (max-width: 768px) {
  .nav-grid .hovedlogo {
    font-size: 26px;
  }
}
@media (min-width: 768px) {
  .nav-grid .hovedlogo {
    font-size: 48px;
  }
}
.nav-grid .fa-user {
  grid-area: menneske;
  display: flex;
  justify-content: center;
  font-size: 24px;
  padding: 1rem 0 0.1rem 2.5rem;
  margin: 0;
}
.nav-grid #login {
  grid-area: login;
  display: flex;
  justify-content: center;
  padding: 0.1rem 0 1.5rem 2.5rem;
  margin: 0;
}
.nav-grid .fa-magnifying-glass {
  grid-area: magnum;
  display: flex;
  justify-content: center;
  font-size: 24px;
  padding: 1rem 0 0.1rem 0;
}
.nav-grid #sokk {
  grid-area: sok;
  display: flex;
  justify-content: center;
  padding: 0.1rem 0 1.5rem 0;
  margin: 0;
}

hr {
  display: flex;
  line-height: 40px;
  width: 100%;
  overflow-block: auto;
  border: 1px solid rgb(107, 107, 107);
  margin-top: 10px;
  margin-bottom: 0;
}

@media (min-width: 767px) {
  hr {
    display: none;
  }
}
@media (max-width: 767px) {
  .pdside {
    display: flex;
    justify-items: center;
    width: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .pdsidedesktop {
    display: none;
  }
}
@media (min-width: 768px) {
  .pdside {
    display: none;
  }
  .pdsidedesktop {
    display: flex;
    justify-content: center;
    width: 70%;
    padding-left: 5rem;
    padding-right: 5rem;
  }
}
h2 {
  display: flex;
  justify-content: center;
  padding: 1rem 0 0 0;
  margin: 0;
}

@media (max-width: 767px) {
  .centersko, .rightsko {
    display: none;
  }
  .leftsko {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 0 3rem 0 3rem;
    color: black;
  }
  .leftsko p {
    display: inline-block;
    padding: 1rem 0 0.5rem 0;
    margin: 0;
  }
}
@media (min-width: 768px) {
  .leftsko {
    display: none;
  }
  .produkt {
    display: grid;
    grid-template-areas: "leftsko centersko rightsko";
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    text-align: left;
    width: 70%;
  }
  .produkt #leftsko img {
    grid-area: leftsko;
    display: flex;
    width: 100%;
  }
}
.links {
  display: grid;
  grid-template-areas: "h3 ." "facebook fbikon" "instagram igikon" "kundeservice ." "presse .";
  grid-template-columns: 200px 20%;
  grid-template-rows: repeat(6, 40px);
  font-size: 24px;
  background-color: #acacac;
  padding: 0;
  margin: 1rem 0 0 0;
}
.links h3 {
  grid-area: h3;
  display: flex;
  padding: 0;
  margin: 1rem 0 0 1rem;
  justify-content: center;
}
.links .facebook::before, .links .instagram::before, .links .kundeservice::before, .links .presse::before {
  content: "•";
  margin-right: 0.5rem;
  color: black;
}
.links .facebook {
  grid-area: facebook;
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: black;
  margin-top: 1rem;
}
.links .fa-facebook {
  grid-area: fbikon;
  display: flex;
  justify-content: left;
  margin-top: 1rem;
}
.links .instagram {
  grid-area: instagram;
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: black;
  margin-top: 1rem;
}
.links .fa-instagram {
  grid-area: igikon;
  display: flex;
  margin-top: 1rem;
}
.links .kundeservice {
  grid-area: kundeservice;
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: black;
  padding-left: 2.3rem;
  margin-top: 1rem;
}
.links .presse {
  grid-area: presse;
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: black;
  padding-right: 2.3rem;
  margin-top: 1rem;
}
@media (min-width: 768px) {
  .links .links {
    display: flex;
    justify-content: center;
  }
}

/*id er "#"
class er "."
padding/margin rekkefølge: top right bottom left*//*# sourceMappingURL=main.css.map */