@charset "UTF-8";
* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  background-color: #ffff00;
  height: 40px;
  line-height: 40px;
  width: 100%;
  padding: 0;
  margin: 0;
}

.header-grid {
  display: grid;
  grid-template-columns: 230px 20px 30% 210px 20px 30% 210px 20px;
  grid-template-rows: 40px;
  grid-template-areas: "left truck . center clock . right cart";
  width: 3000px;
}
.header-grid #center {
  display: flex;
  justify-content: center;
  grid-area: center;
  padding-bottom: 18px;
  padding-top: 0;
  padding-left: 0.1rem;
  padding-right: 0;
  margin: 0;
}
.header-grid .fa-clock {
  display: flex;
  justify-content: center;
  grid-area: clock;
  font-size: 24px;
  margin: 0;
  padding: 0.5rem 0 0.5rem 0.2rem;
}
.header-grid #right {
  grid-area: right;
  padding-bottom: 18px;
  padding-top: 0;
  padding-left: 1rem;
  margin: 0;
}
.header-grid .fa-cart-shopping {
  display: flex;
  justify-content: right;
  grid-area: cart;
  font-size: 24px;
  margin: 0;
  padding: 0.5rem 0.3rem 0.5rem 0.2rem;
}
.header-grid #left {
  display: flex;
  justify-content: left;
  grid-area: left;
  padding-bottom: 18px;
  padding-top: 0;
  padding-left: 1rem;
  margin: 0;
}
.header-grid .fa-truck {
  display: flex;
  justify-content: left;
  grid-area: truck;
  font-size: 24px;
  margin: 0;
  padding: 0.5rem 0 0.5rem 0.2rem;
}
@media (max-width: 768px) {
  .header-grid {
    grid-template-columns: 170px 20px auto 170px 10px;
    grid-template-areas: "center clock . right cart";
  }
  .header-grid #left, .header-grid .fa-truck {
    display: none;
  }
  .header-grid #right, .header-grid #center {
    font-size: 13px;
  }
}

@media (min-width: 768px) {
  .fa-user, .fa-magnifying-glass, #login, #sokk, .hovedlogo {
    display: none;
  }
}
@media (max-width: 768px) {
  .input, .navtekst {
    display: none;
  }
  .nav-grid {
    display: grid;
    grid-template-columns: 50% 1fr 80px 80px;
    grid-template-rows: 40px 20px;
    grid-template-areas: "logo . menneske magnum" ".  . login sok";
  }
  .nav-grid .hovedlogo {
    grid-area: logo;
    display: inline-block;
    justify-content: left;
    margin: 1.2rem 0 1rem 0.5rem;
    padding: 0;
    font-weight: 700;
    text-decoration: none;
    color: black;
    font-style: italic;
    font-size: 26px;
  }
  .nav-grid .fa-user {
    grid-area: menneske;
    display: flex;
    justify-content: center;
    font-size: 24px;
    padding: 1rem 0 0.1rem 2.5rem;
    margin: 0;
  }
  .nav-grid #login {
    grid-area: login;
    display: flex;
    justify-content: center;
    padding: 0.1rem 0 1.5rem 2.5rem;
    margin: 0;
  }
  .nav-grid .fa-magnifying-glass {
    grid-area: magnum;
    display: flex;
    justify-content: center;
    font-size: 24px;
    padding: 1rem 0 0.1rem 0;
  }
  .nav-grid #sokk {
    grid-area: sok;
    display: flex;
    justify-content: center;
    padding: 0.1rem 0 1.5rem 0;
    margin: 0;
  }
}
@media (min-width: 768px) {
  .nav-grid {
    display: grid;
    grid-template-areas: ". . . . . . . . ." ". logo . input iikon . bikon login ." ". ntekst . . . . . . .";
    grid-template-columns: 1rem 300px auto 300px 40px auto 40px 150px 0px;
    grid-template-rows: 40px 40px;
  }
  .hovedlogo {
    grid-area: logo;
    display: inline-block;
    justify-content: left;
    margin: 2rem 0 5rem 3rem;
    padding: 0;
    font-weight: 700;
    text-decoration: none;
    color: black;
    font-style: italic;
    font-size: 48px;
  }
  .input {
    grid-area: input;
    display: flex;
    justify-content: left;
    width: 300px;
    background: none;
    margin: 0;
    padding: 0;
    font-size: 16px;
  }
  .fa-magnifying-glass {
    grid-area: iikon;
    display: flex;
    font-size: 30px;
    padding: 0.5rem;
  }
  .fa-user {
    grid-area: bikon;
    display: flex;
    font-size: 30px;
    justify-content: center;
    padding: 0.5rem;
  }
  #login {
    grid-area: login;
    display: flex;
    font-size: 30px;
    justify-content: left;
    padding: 0.5rem;
    margin: 0;
  }
  .navtekst {
    grid-area: ntekst;
    font-size: 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 3rem 0 1rem 2.5rem;
  }
  .navtekst > span {
    margin-right: 40px;
    border-bottom: 2px solid #000;
    padding-bottom: 3px;
  }
  a {
    text-decoration: none;
    color: #000;
  }
}
hr {
  display: flex;
  line-height: 40px;
  width: 100%;
  overflow-block: auto;
  border: 1px solid rgb(107, 107, 107);
  margin-top: 10px;
  margin-bottom: 0;
}

@media (min-width: 767px) {
  hr {
    display: none;
  }
}
#sommerskotekst {
  display: inline-block;
  margin: 1rem 2rem 1rem 2rem;
}

.filterknapp {
  display: grid;
  grid-template-areas: ". filter fikon . best bikon .";
  grid-template-columns: auto 100px 35px 2.5rem 100px 27px auto;
  grid-template-rows: 40px;
}

.filter {
  display: flex;
  grid-area: filter;
  justify-content: right;
  margin: 0;
  padding: 10px 1rem 10px 0;
  background-color: yellow;
}

.fa-arrow-down-short-wide {
  display: flex;
  grid-area: fikon;
  margin: 0;
  padding: 10px 10px;
  background-color: yellow;
}

.best {
  display: flex;
  grid-area: best;
  justify-content: center;
  margin: 0;
  padding: 10px 10px;
  background-color: yellow;
}

.fa-chevron-down {
  display: flex;
  grid-area: bikon;
  margin: 0;
  padding: 10px 10px;
  background-color: yellow;
}

h4 {
  display: flex;
  padding: 1rem 0 0 3rem;
  margin: 0;
}

@media (max-width: 767px) {
  .pdside {
    display: flex;
    justify-items: center;
    width: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .pdsidedesktop {
    display: none;
  }
  #sommerskotekst {
    font-size: 20px;
  }
  h4 {
    font-size: 26px;
    justify-content: left;
  }
}
@media (min-width: 768px) {
  .pdside {
    display: none;
  }
  .pdsidedesktop {
    display: flex;
    justify-items: center;
    width: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1rem;
  }
  #sommerskotekst {
    font-size: 30px;
  }
  h4 {
    font-size: 40px;
    justify-content: center;
  }
}
@media (max-width: 767px) {
  .centersko, .rightsko {
    display: none;
  }
  .leftsko {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 0 3rem 0 3rem;
    color: black;
    text-decoration: none;
    font-size: larger;
  }
}
@media (min-width: 768px) {
  .produkt {
    display: grid;
    grid-template-areas: "leftsko centersko rightsko" "leftsko centersko rightsko" "leftsko centersko rightsko";
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(4, auto);
    -moz-column-gap: 100px;
         column-gap: 100px;
    text-align: center;
    width: 10%;
    margin: 0;
    padding: 1rem 2rem 1rem 2rem;
  }
  .leftsko {
    display: flex;
    justify-content: left;
    grid-area: leftsko;
    flex-wrap: wrap;
    text-align: left;
  }
  .centersko {
    display: flex;
    grid-area: centersko;
    flex-wrap: wrap;
  }
  .rightsko {
    display: flex;
    grid-area: rightsko;
    flex-wrap: wrap;
  }
}
@media (max-width: 768px) {
  .ksfree {
    display: grid;
    grid-template-areas: "h2 h2" "top top" "knapp knapp" "knapp knapp" "knapp knapp" "p1 p1" "p1 p1" "p1 p1" "p2 p2" "p2 p2" "p3 p3";
    grid-template-columns: minmax(min-content, 170px) minmax(min-content, auto);
    grid-template-rows: repeat(11, minmax(max-content, auto));
  }
  h2 {
    grid-area: h2;
    display: flex;
    justify-content: left;
    padding: 1rem 1rem 0 1rem;
    margin: 0;
  }
  .top {
    grid-area: top;
    display: flex;
    justify-content: left;
    padding: 1rem 1rem 0 1rem;
    margin: 0;
  }
  .kundeknapp {
    background-color: #D9D9D9;
    color: black;
    display: flex;
    padding: 0.5rem;
    text-decoration: none;
    margin: 0.5rem;
    font-size: 24px;
    justify-content: center;
    max-width: 150px;
    height: 40px;
  }
  .p1 {
    grid-area: p1;
    display: flex;
    justify-content: center;
    padding: 0 1rem 0 1rem;
  }
  .p2 {
    grid-area: p2;
    display: flex;
    justify-content: left;
    padding: 0 1rem 0 1rem;
  }
  .p3 {
    grid-area: p3;
    display: flex;
    padding: 0 1rem 0 1rem;
  }
  #nr {
    color: blue;
    text-decoration: underline;
    font-style: italic;
  }
}
@media (min-width: 769px) {
  .ksfree {
    display: none;
  }
  .ksfree {
    display: grid;
    grid-template-areas: "h2 h2 h2 h2 h2 h2" "top top top top top top" "knapp knapp knapp knapp knapp knapp" "p1 p1 p1 p1 p1 p1" "p2 p2 p2 p2 p2 p2" "p3 p3 p3 p3 p3 p3";
    grid-template-columns: repeat(6, minmax(min-content, 200px));
    grid-template-rows: repeat(6, minmax(max-content, auto));
  }
  h2 {
    grid-area: h2;
    display: flex;
    justify-content: left;
    padding: 1rem 1rem 0 1rem;
    margin: 0;
  }
  .top {
    grid-area: top;
    display: flex;
    justify-content: left;
    padding: 1rem 1rem 0 1rem;
    margin: 0;
  }
  .kundeknapp {
    background-color: #D9D9D9;
    color: black;
    display: flex;
    padding: 0.5rem;
    text-decoration: none;
    margin: 0.5rem;
    font-size: 30px;
    justify-content: center;
    max-width: 200px;
    height: 50px;
  }
  .p1 {
    grid-area: p1;
    display: flex;
    justify-content: center;
    padding: 0 1rem 0 1rem;
    font-size: 30px;
  }
  .p2 {
    grid-area: p2;
    display: flex;
    justify-content: left;
    padding: 0 1rem 0 1rem;
    font-size: 30px;
  }
  .p3 {
    grid-area: p3;
    display: flex;
    padding: 0 1rem 0 1rem;
    font-size: 30px;
  }
  #nr {
    color: blue;
    text-decoration: underline;
    font-style: italic;
    font-size: 30px;
  }
}
.links {
  display: grid;
  grid-template-areas: "h3 ." "facebook fbikon" "instagram igikon" "kundeservice ." "presse .";
  grid-template-columns: 200px 20%;
  grid-template-rows: repeat(6, 40px);
  font-size: 24px;
  background-color: #acacac;
  padding: 0;
  margin: 1rem 0 0 0;
}
.links h3 {
  grid-area: h3;
  display: flex;
  padding: 0;
  margin: 1rem 0 0 1rem;
  justify-content: center;
}
.links .facebook::before, .links .instagram::before, .links .kundeservice::before, .links .presse::before {
  content: "•";
  margin-right: 0.5rem;
  color: black;
}
.links .facebook {
  grid-area: facebook;
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: black;
  margin-top: 1rem;
}
.links .fa-facebook {
  grid-area: fbikon;
  display: flex;
  justify-content: left;
  margin-top: 1rem;
}
.links .instagram {
  grid-area: instagram;
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: black;
  margin-top: 1rem;
}
.links .fa-instagram {
  grid-area: igikon;
  display: flex;
  margin-top: 1rem;
}
.links .kundeservice {
  grid-area: kundeservice;
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: black;
  padding-left: 2.3rem;
  margin-top: 1rem;
}
.links .presse {
  grid-area: presse;
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: black;
  padding-right: 2.3rem;
  margin-top: 1rem;
}
@media (min-width: 768px) {
  .links .links {
    display: flex;
    justify-content: center;
  }
}/*# sourceMappingURL=style.css.map */